.story{
    margin: 0 auto;
    padding: 6rem;
    width: 75% ;
    padding-left: 9rem;
    background-color: rgba(white,.6);
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
   
    transform: skewX(-15deg);

    & > *{
        transform: skewX(15deg);
    }

    &-image{
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(15deg);
        overflow: hidden;
        position: relative;
        img{
            height: 100%;
            transform: translateX(-4rem) scaleX(1.4) ;
            backface-visibility: hidden;
            transition: all .3s ease-in-out;
        }

        &__caption{
            position: absolute;
            color: white;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            font-size: 2rem;
            text-transform: uppercase;
            transition: all .3s;
            opacity: 0;
        }

      
    }
    &-description{
        font-size: $default-font-size;
        backface-visibility: hidden;
    }

    &:hover img{
        transform:translateX(-4rem)  scaleX(1) ; 
        filter: blur(3px) brightness(80%);
    }

    &:hover .story-image__caption {
        transform: translate(-50%, -50%);
        opacity: 1;

    }
}
