*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; //1rem = 10px

    @include respond(tap-land){
      font-size: 50%;
    }
    @include respond(tap-port){
      font-size: 43.7%;
    }
    @include respond(phone){
      font-size: 43%;
    }
}
body{
  box-sizing: border-box;
}

